#site-header
	padding: 5em 0
	text-align: center

	> .container
		display: flex
		flex-direction: column

	.brand
		.site-title
			font-size: 2.4em
			font-weight: 700
			letter-spacing: -0.4%

			a
				color: $text-color-accent
				text-decoration: none
				&:hover
					opacity: 0.8
				&:active
					opacity: 0.6

		.site-description
			margin: 0.5em 0
			font-size: 1.2em

	.menu
		display: flex
		justify-content: center

		.menu-item
			position: relative

			a
				padding: 0.4em 1em
				color: $text-color-accent
				text-decoration: none
				&:hover
					text-decoration: underline
				&:active
					opacity: 0.6

			.sub-menu
				position: absolute
				display: none

			&:hover .sub-menu
				display: block
