#page-home
	.posts
		padding: 0 5vw
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		font-size: 0.9em

		.post
			display: flex
			align-items: center
			width: 40vw
			height: 12vw
			margin: 0 2.5vw 5vw
			padding: 2em
			overflow: hidden
			background: darken($color-bg, 10%)
			border-radius: 20px
			text-align: center

			h2
				width: 100%
