#page-home
	.posts
		padding: 0 5vw
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		.post
			position: relative
			width: 40vw
			height: 20vw
			margin: 0 2.5vw 5vw
			overflow: hidden
