#page-home
	.posts
		padding: 3em
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		font-size: 0.8em

		.post
			width: 30%
			height: 20vw
			margin-bottom: 3.3vw
			overflow: hidden
