.posts

	.post
		margin-bottom: 5em

		h2
			width: 80%
			margin-bottom: 0.5em
			font-size: 1.8em
			font-weight: 600

			a
				color: $text-color-accent
				text-decoration: none
				&:hover
					text-decoration: underline

		.content

			p, blockquote, ul, ol
				margin: 2em 0
				font-size: 1.14em
				line-height: 1.8
				font-family: $font-serif

			blockquote
				font-size: 1.1em
				width: 85%
				line-height: 1.58
