@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #24170C;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

#site-header {
  padding: 5em 0;
  text-align: center;
}

#site-header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#site-header .brand .site-title {
  font-size: 2.4em;
  font-weight: 700;
  letter-spacing: -0.4%;
}

#site-header .brand .site-title a {
  color: #41250b;
  text-decoration: none;
}

#site-header .brand .site-title a:hover {
  opacity: 0.8;
}

#site-header .brand .site-title a:active {
  opacity: 0.6;
}

#site-header .brand .site-description {
  margin: 0.5em 0;
  font-size: 1.2em;
}

#site-header .menu {
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#site-header .menu .menu-item {
  position: relative;
}

#site-header .menu .menu-item a {
  display: block;
  padding: 1em 1em;
  color: #41250b;
  text-decoration: none;
}

#site-header .menu .menu-item a:hover {
  text-decoration: underline;
}

#site-header .menu .menu-item a:active {
  opacity: 0.6;
}

#site-header .menu .menu-item .sub-menu {
  position: absolute;
  display: none;
  width: 200%;
  padding: 0.5em 0;
  left: -50%;
  background: #eee9e1;
  border-radius: 4px;
}

#site-header .menu .menu-item .sub-menu::before {
  content: "";
  position: absolute;
  top: -0.4em;
  left: calc(50% - 0.4em);
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.4em 0.4em 0.4em;
  border-color: transparent transparent #eee9e1 transparent;
}

#site-header .menu .menu-item .sub-menu a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}

#site-header .menu .menu-item .sub-menu a:hover {
  background: #f2efe9;
}

#site-header .menu .menu-item .sub-menu a:active {
  opacity: 0.6;
}

#site-header .menu .menu-item:hover .sub-menu {
  display: block;
}

.posts .post {
  margin-bottom: 5em;
}

.posts .post h2 {
  margin-bottom: 0.5em;
  font-size: 1.8em;
  font-weight: 600;
}

.posts .post h2 a {
  color: #41250b;
  text-decoration: none;
}

.posts .post h2 a:hover {
  text-decoration: underline;
}

.posts .post .content p, .posts .post .content blockquote, .posts .post .content ul, .posts .post .content ol {
  margin: 1em 0;
  font-size: 1.1em;
  line-height: 1.58;
}

.posts .post .content blockquote {
  font-family: "Lora", "Georgia", serif;
  font-size: 1.1em;
  width: 75%;
}

body {
  background: #F7F5F1;
}
/*# sourceMappingURL=theme.css.map */